@using Newbe.BookmarkManager.Services
@using Newbe.BookmarkManager.Services.EventHubs
@using Microsoft.Extensions.Logging
@using Newtonsoft.Json
<Spin Spinning="@_loading">
    <Tooltip Placement="@Placement.Bottom" Title="@("Sync data to BaiduDrive")">
        <Button OnClick="ClickLoginAsync">
            <Icon Type="cloud-sync" Theme="outline"/>
        </Button>
    </Tooltip>
</Spin>


@code {

    [Inject]
    public IBaiduDriveClient BaiduDriveClient { get; set; }
    
    [Inject]
    public IBaiduApi BaiduAPi { get; set; }

    [Inject]
    public ILogger<BaiduLoginButton> Logger { get; set; }
    
    [Inject]
    public  IUserOptionsService UserOptionsService { get; set; }

    [Inject]
    public IAfEventHub AfEventHub { get; set; }

    private bool _loading;

    private async Task ClickLoginAsync()
    {
        try
        {
            _loading = true;
            var token = await BaiduDriveClient.LoginAsync(true);
            if (!string.IsNullOrEmpty(token))
            {
                await AfEventHub.PublishAsync(new UserLoginSuccessEvent(CloudBkProviderType.BaiduDrive, token));
            }
            var options = await UserOptionsService.GetOptionsAsync();
            var response =  await BaiduAPi.GetQuotaAsync(new BaiduQuotaRequest()
            {
                AccessToken = options.CloudBkFeature.AccessToken,
                CheckFree = 1,
                CheckExpire = 1
            });

            // var res2 = await BaiduAPi.GetFileListAsync(new BaiduFileListRequest()
            // {
            //     AccessToken = options.CloudBkFeature.AccessToken,
            //     Dir = "/",
            //     Order = "name",
            //     Desc = "",
            //     Start = 0,
            //     Limit = 100,
            //     Web = "0",
            //     Folder = 0,
            //     ShowEmpty = 0
            //     
            //     
            //
            // });
            // Console.WriteLine("Error");
            // Console.WriteLine(res2?.Error?.Content);

            var res3 = await BaiduAPi.SearchAsync(new BaiduSearchRequest()
            {
                AccessToken = options.CloudBkFeature.AccessToken,
                Key = "Publish 48.rar",
            });
            Console.WriteLine("Error");
            Console.WriteLine(res3?.Error?.Content);
            Console.WriteLine("Content");
            Console.WriteLine(res3?.Content);
            var fileInfo = JsonConvert.DeserializeObject<BaiduSearchResponse>(res3.Error.Content);
            var res4 = await BaiduAPi.GetFileMatesAsync(new BaiduFileMetasRequest()
            {
                AccessToken = options.CloudBkFeature.AccessToken,
                FsIds = "[" + string.Join(",",fileInfo.List.Select(a=>a.FsId.ToString()).ToArray()) + "]",
                DLink = 1

            });
            Console.WriteLine("res4 Error");
            Console.WriteLine(res4?.Error?.Content);

        }
        catch (Exception e)
        {
            Logger.LogError(e, "failed to login with Baidu");
        }
        finally
        {
            _loading = false;
            StateHasChanged();
        }
    }

}