@using Newbe.BookmarkManager.Services
@using Microsoft.Extensions.Logging
@using Newbe.BookmarkManager.Services.EventHubs
<Spin Spinning="@_loading">
    <Tooltip Placement="@Placement.Bottom" Title="@("Sync data to GoogleDrive")">
        <Button OnClick="ClickLoginAsync">
            <Icon Type="cloud-sync" Theme="outline"/>
        </Button>
    </Tooltip>
</Spin>


@code {

    [Inject]
    public IGoogleDriveClient GoogleDriveClient { get; set; }

    [Inject]
    public ILogger<GoogleLoginButton> Logger { get; set; }

    [Inject]
    public IAfEventHub AfEventHub { get; set; }

    private bool _loading;

    private async Task ClickLoginAsync()
    {
        try
        {
            _loading = true;
            var token = await GoogleDriveClient.LoginAsync(true);
            if (!string.IsNullOrEmpty(token))
            {
                await AfEventHub.PublishAsync(new UserLoginSuccessEvent(CloudBkProviderType.GoogleDrive, token));
            }
        }
        catch (Exception e)
        {
            Logger.LogError(e, "failed to login with Google");
        }
        finally
        {
            _loading = false;
            StateHasChanged();
        }
    }

}