@using Newbe.BookmarkManager.Services
@using System.Text.Json
<Button OnClick="Callback">Login With MS</Button>

@code {

    [Inject]
    public IOneDriveClient OneDriveClient { get; set; }

    private async Task Callback()
    {
        await OneDriveClient.LoginAsync(true);
        var user = await OneDriveClient.GetMeAsync();
        Console.WriteLine(JsonSerializer.Serialize(user));
    }

}