@using Newbe.BookmarkManager.Services
<AntList Bordered DataSource="@NotificationRecords"
          TItem="NotificationRecord" OnItemClick="ClickToReadAsync">
    <ChildContent Context="message">
        <ListItem @key="@message.Id">
            <Card Title=@message.Message>
                <p>@message.Description</p>
                <p>@message.CreatedTime</p>
            </Card>
        </ListItem>
    </ChildContent>
</AntList>
<style>

</style>
@code
{
    [Parameter]
    public List<NotificationRecord> NotificationRecords { get; set; }
    [Inject]
    public INotificationRecordService NotificationRecordService { get; set; }
    
    private  async Task ClickToReadAsync(NotificationRecord entity)
    {
        await NotificationRecordService.CompleteAsync(entity.Id);
    }
    
}