@inherits Blazor.BrowserExtension.Pages.IndexPage
@page "/google/index.html"

<h3>Google</h3>
<Button OnClick="Callback">22222222</Button>

<p>@Token</p>

@code {

    

}

@* 108132292975-7nmbplsu9funkpbfcflm7addbe3qtspv.apps.googleusercontent.com *@