name: dotnet format

on:
  push:
    branches: [ main, metrics ]
    paths:
      - '**.cs'
      - '**.razor'
      - '.editorconfig'
  pull_request:
    branches: [ main, metrics ]
    paths:
      - '**.cs'
      - '**.razor'
      - '.editorconfig'

jobs:
  check-format:
    runs-on: ubuntu-latest
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    steps:
      - name: check out code
        uses: actions/checkout@v2

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.100-rc.2.21505.57'
          include-prerelease: true

      - name: Install format tool
        run: dotnet tool install -g dotnet-format

      - name: dotnet format
        run: dotnet-format --folder --check
