name: Amazing Favorites test publish

on:
  push:
    branches:
      - feature/aot

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        enable-aot: [ 'true','false' ]
        antdesign-version: [ 0.8.4, 0.9.0 ]
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'
          include-prerelease: true
      - name: Install dependencies
        run: |
          cd $GITHUB_WORKSPACE/src
          dotnet workload install wasm-tools
          dotnet restore
      - name: build and test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
        run: |
          cd $GITHUB_WORKSPACE/src
          dotnet publish Newbe.BookmarkManager -c Release -o out -p:EnableAOT=${{ matrix.enable-aot }} -p:AntDeisgnVersion=${{ matrix.antdesign-version }}
